
            <section id="details">
                <section id="spectacles">
                    <h1>Des spectacles</h1>
                    <h2>Chaque soir, une performance haute en couleur !</h2>
                    <section id="stand-up">
                        <h1>Soirée d'Ouverture</h1>
                        <h2>Du Stand Up avec des blagues à dormir debout</h2>
                        <p>La soirée d'ouverture se déroule en deux temps : </p>
                        <ul>
                            <li>
                                une courte <b>performance d'introduction</b> pleine de paillettes, concoctée par notre équipe de bénévoles, ô combien motivé·e·s !
                            </li>
                            <li>
                                puis un <b>spectacle de Stand Up</b>, animé par des artistes queer exceptionnel·le·s , qui sauront arracher des rires éclatants aux plus ronchon·ne·s d'entre vous !
                            </li>
                        </ul>
                        
                        <div class="details-buttons">
                            <!-- <a class="primary-button-gf-2024" onClick="openComedyArtists()">Découvrir les artistes 2024 ▼</a> -->

                            <a href="https://youtu.be/xdbSREg6qJg" class="secondary-button-gf-2024">Voir la vidéo 2023</a>
                        </div>

                        <div> <!-- id="comedy-artists"> -->
                            <p>
                                Cette année, nous aurons ainsi l'honneur d'accueillir parmi nous :
                            </p>
                            
                            <ul>
                                <li>
                                    <b><a href="https://www.instagram.com/tahneelautre/">Tahnee</a></b>, comédienne, humoriste, et chroniqueuse afro-féministe, elle est également la créatrice du <a href="https://www.instagram.com/comedielove/">@comedielove</a>, un plateau mensuel de standup bienveillant. Son humour généreux et engagé a assurément tout pour plaire.
                                </li>
                                <li>
                                    <b><a href="https://www.instagram.com/louiscattelat/">Louis Catellat</a></b>, humoriste, et scénariste au Bureau des auteurs de Canal+, il a remporté la scène ouverte du <a href="https://twitter.com/KANDIDATOR?ref_src=twsrc%5Etfw">@Kandidator</a>, concours national de stand-up. Ses traits d'esprit vifs et ses jeux de mots espiègles ne peuvent que nous faire passer un très bon moment.
                                </li>
                                <li>
                                    La <b><a href="https://www.instagram.com/lacomedypride/">Comedy Pride</a></b> est un collectif de stand-up monté et mené par le talentueux <a href="https://www.instagram.com/julien.ville/">Julien Ville</a>, dans le but de promouvoir les humoristes LGBTQIA+. Leurs anecdotes hilarantes et observations poignantes nous mèneront dans un voyage comique inoubliable.
                                </li>
                            </ul>


                            <div class="details-bubbles">
                                <img src="new_images/gf2024/artistes/tahnee.jpeg" alt="Une photo de l'humoriste Tahnee." class="details-bubble">
                                <img src="new_images/gf2024/artistes/louis.jpg" alt="Une photo de l'humoriste Louis Catellat." class="details-bubble">
                                <img src="new_images/gf2024/artistes/comedy-pride.jpeg" alt="Le logo du collectif Comedy Pride." class="details-bubble">
                            </div>
                        </div>

                    </section>
                    <section id="drag-show">
                        <h1>Show drag JdR</h1>
                        <h2>Donjons & DragOut, une aventure fantastique dont vous êtes les héro·ïne·s</h2>
                        <a href="https://youtu.be/SndZv-HX5wg?t=1778" class="primary-button-gf-2024">Voir la vidéo 2023</a>
                        <p>
                            Prêt à vivre une aventure
                            La cousinade vous embarque
                            Un monde fantastique
                            Un donjon épique
                            Un trésor mystérieux
                            5 héros

                            ---Aurez-vous le courage de lancer les dés ?---

                            Interactif

                            Entrez dans l'aventure, et venez lancer les dés 🎲 pour un Drag Show 100% Donjon & DragOut 🏳️‍🌈 !  Alors enfile ton armure et sors ta fiche de perso, on t'embarque dans le  mystérieux Royaume de Kouz !

                            Zanni Lalune
                            Nixe Amere
                            Rico Lo Scopia
                            Otopsie
                            Miss Vernita Green

                            Juliane Travers
                        </p>
                    </section>
                    <section id="12-travaux-queer">
                        <h1>12 Travaux Queer</h1>
                        <h2>La folle soirée entre Interville et jeux-vidéo</h2>

                        Quiz, jeux-vidéos à plusieurs ou en solo, en coop ou en versus, jeux grandeurs nature, speed make-up

                        <a href="https://youtu.be/XsGKZW-bWRw?t=1064" class="primary-button-gf-2024">Voir la vidéo 2023</a>
                    </section>
                    <section id="ng-awards">
                        <h1>NG Awards</h1>
                        <h2>Les Césars de l'Inclusivité dans l'univers Geek et Gamer</h2>
                        <a href="https://youtu.be/nJ9HuQx1tn8?t=12" class="primary-button-gf-2024">Voir la vidéo 2023</a>
                    </section>
                </section>
                <section id="interventions">
                    <h1>Des interventions</h1>
                    <h2>Qui font avancer les débats</h2>
                    <section id="conference">
                        <h1>Une conférence plénière</h1>
                        <h2>"La représentation des minorités de genre et ethniques dans les jeux vidéo", avec Afrogameuses</h2>
                    </section>
                    <section id="atelier">
                        <h1>Des ateliers sur les Micro-Agressions</h1>
                        <h2>Avec Marie Dasylva, coach stratégiste et fondatrice de l'agence Nkali Works</h2>
                    </section>
                    <section id="tables-rondes">
                        <h1>Des Tables-Rondes</h1>
                        <h2>Avec des partenaires extraordinaires !</h2>
                        <a href="https://www.youtube.com/watch?v=yfBZUwi0hno&list=PLhEmzprh7cAeqcYTmAjM_lynmrTO-Q2rX&index=3" class="primary-button-gf-2024">Voir la playlist 2023</a>
                        
                    </section>
                </section>
                <section id="animations">
                    <h1>Des animations</h1>
                    <h2>Toutes les journées dès 10h00 !</h2>
                    <section id="jeux-vidéo">

                    </section>
                    <section id="jeux-irl">

                    </section>
                </section>
            </section>