body {
    background: linear-gradient(10deg, #1D1240 0%, #2D1E5A 43%, #0F0E0F 100%);
}

main {
    background-image: url("new_images/gf2024/hero-bg.svg");
    /* background-repeat: no-repeat; */
    background-size: contain;
    width: 90%;
    margin: auto;
}

main > section {
    width: 95%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    scroll-margin-top: 100px;
}

h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: var(--ng-white);
    margin: 0;
}

h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 27px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: var(--ng-white);
    margin: 0;
}

h3 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: var(--ng-white);
    margin: 0;
}

.primary-button-gf-2024 {
    padding: 16px 32px;
    display: inline-block;

    background: white;
    box-shadow: 0px 1px 2px rgba(9, 44, 16, 0.63), inset 0px -3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 93px;
    color: #201F23;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 8px;

    transition: 400ms ease;
}

.primary-button-gf-2024:hover {
    text-decoration: none;
    box-shadow: 0px 1px 2px rgba(9, 44, 16, 0.63), inset 0px -6px 4px rgba(0, 0, 0, 0.5);
}

.primary-button-gf-2024:active {
    text-decoration: none;
    box-shadow: 0px 1px 2px rgba(9, 44, 16, 0.63), inset 0px 6px 4px rgba(0, 0, 0, 0.5);
}

.secondary-button-gf-2024 {
    padding: 16px 32px;
    display: inline-block;

    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 2px 4px rgba(255, 255, 255, 0.15);
    border-radius: 93px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: white;

    transition: 400ms ease;
}

.secondary-button-gf-2024 img {
    height:22px;
    vertical-align: middle;
}

.secondary-button-gf-2024:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 4px 8px rgba(255, 255, 255, 0.5);
}

.secondary-button-gf-2024:active {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#hero > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

#hero-image {
    width: 90%;
    max-width: 592px;
}

#gf-logo {
    width: 90.74px;
}

#hero-title {
    font-weight: 400;
    font-size: 71px;
    line-height: 77px;
    letter-spacing: -0.02em;
}

#hero-subtitle {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

#billetterie > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

#billetterie > hgroup {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    padding-bottom: 24px;
}

#programme-wrapper {
    margin: auto;
    display: grid;
    flex-wrap: wrap;
    column-gap: 50px;
    grid-template-columns: 1fr;
    padding-top: 30px;
    justify-items: center;
}

@media (min-width:700px)  {
    #programme-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1400px)  {
    #programme-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* For rounded pill look */
.programme-content {
    background-color: rgba(29, 18, 64, 0.8);
    border-radius: 100vh;
    padding: 20px;
    padding-top: 40px;
    max-width: 300px;
}

#programme-wrapper h2 {
    font-weight: 700;
    font-size: 39.06px;
    line-height: 46px;
}

#programme-wrapper h3 {
    font-weight: 600;
    font-size: 20px;
}

.programme-bubble {
    width: 190px;
    height: 190px;
    border-radius: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px rgba(230, 194, 253, 0.3));
    transition: opacity 0.5s ease-in-out;
}

.programme-bubble.fade {
    opacity: 0;
}

.programme-bubble.show {
    opacity: 1;
}

#informations-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 30px;
    justify-content: center;
}

.informations-card {
    max-width: 300px;
}

.gradient-border-box {
    --b:3px;
    --r:16px;
  
    padding: calc(var(--b) + 13px) calc(var(--b) + 29px);
    display: inline-block;
    position:relative;
    z-index:0;
    filter: drop-shadow(0px 0px 30px rgba(58, 30, 148, 0.3));
    font-weight: 700;
    transition: color 400ms ease;
    backdrop-filter: blur(10px);
}

.gradient-border-box:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: var(--b);
    border-radius: var(--r);
    background: var(--c,linear-gradient(to right, #E6569C, #FA82BD)); 
    -webkit-mask: 
       linear-gradient(rgba(0,0,0,1) 0 0) content-box, 
       linear-gradient(rgba(0,0,0,0.9) 0 0);
    -webkit-mask-composite: xor;
    mask: 
       linear-gradient(rgba(0,0,0,1) 0 0) content-box, 
       linear-gradient(rgba(0,0,0,0.9) 0 0);
    mask-composite: exclude;
}

.informations-card h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #E2E2EA;
}

#location-card:before {
    background: var(--c,linear-gradient(297deg, #2DB3FF, #56E5BA)); 
}

#housing-card:before {
    background: var(--c,linear-gradient(297deg, #E0A4FC, #FA82BD)); 
}

#catering-card:before {
    background: var(--c,linear-gradient(297deg, #FFFFFF, #E5CF56)); 
}

#map-wrapper {
    text-align: center;
}

#map-bubble {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px rgba(230, 194, 253, 0.3));

    transition: 400ms ease;
}

#map-bubble:hover, #map-bubble:active {
    filter: drop-shadow(0px 0px 15px rgba(230, 194, 253, 0.8));
}

#partners-boxes {
    padding-top: 30px;
}

.partners-box-logos {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.partners-box-logos > * {
    margin: 15px;
}

#partners-boxes img {
    max-height: 70px;
    max-width: 180px;
    filter: drop-shadow(0px 0px 10px rgba(230, 194, 253, 0.3));
    transition: 400ms ease;
}

#partners-boxes img:hover, #partners-boxes img:active {
    filter: drop-shadow(0px 0px 15px rgba(230, 194, 253, 0.8));
}

@media (min-width:961px)  {
    main {
        padding-top: 100px;
    }

    #hero-main {
        display: flex;
    }

    #hero-button {
        align-self: center;
        margin-left: auto;
    }
}

#details > section > section:nth-child(odd) {
    text-align: left;
}

#details > section > section:nth-child(even) {
    text-align: right;
}

#details > section {
    padding-top: 30px;
    padding-bottom: 30px;
}

#details > section > section {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 80%;
    margin: auto;
}

#details > section > section > h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #E2E2EA;
}

#details > section > section > h2 {
    font-weight: 200;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
}

#details a {
    color: #E5569C;
}

#details a.primary-button-gf-2024 {
    color: #201F23;
}

#details a.secondary-button-gf-2024 {
    color: white;
}

.details-bubble {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}

.details-bubbles {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#comedy-artists {
    display: none;
}

.details-buttons {
    text-align: center;
}

#nos-reseaux div {
    padding-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 310px;
    justify-content: center;
}

@media (min-width:650px)  {
    #nos-reseaux div {
        grid-template-columns: repeat(2, 310px);
    }
}

@media (min-width:980px)  {
    #nos-reseaux div {
        grid-template-columns: repeat(3, 310px);
    }
}

.reseau {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 140px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    background-color: rgba(29, 18, 64, 0.5);
    color: #E2E2EA;
    cursor: pointer;
    transition: 400ms ease;
}

#nos-reseaux a:hover {
    text-decoration: none;
}

.reseau:hover {
    background-color: rgba(73, 44, 159, 0.8);
}

.warning {
    color: #E5569C;
}

.warning-other {
    color: orange;
}


/* ADD SPARKLES */
.particle {
    animation: var(--duration) linear var(--delay) var(--iteration) sparkle;
    background-color: GhostWhite;
    border-radius: 50%;
    box-shadow: 0 0 var(--blur) var(--spread) rgba(255, 255, 224, 0.5);
    height: var(--size);
    left: var(--left);
    opacity: 0;
    position: absolute;
    top: var(--top);
    width: var(--size);
    z-index: -1;
}

@keyframes sparkle {
    0% { opacity: 0; }
    25% { opacity: var (--opacity); }
    75% { opacity: 0.9; }
    100% { opacity: 0; }
}