body {
    background-color: #E2E2EA;
}

/** Hero main section **/

#hero-main {
    text-align: center;
    background-image: url('new_images/hero.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 773px;
}

#logo-festival {
    height: 121px;
    padding-top: 148px;
}

#main-title {
    font-family: "Righteous";
    font-size: 61.04px;
    line-height: 76px;
    font-weight: 400;
    margin: 0;
}

#main-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
}

#teasing {
    width: 80%;
    margin: auto;
}

#edition-title {
    font-weight: 600;
    font-size: 95.37px;
    line-height: 112px;
    opacity: 0.2;
    margin: 0;
    text-align: right;
}

#teasing-title {
    font-weight: 700;
    font-size: 39.06px;
    line-height: 46px;
    margin: 0;
}

#teasing-subtitle {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    margin: 10px 0;
}

#teasing-bubbles {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 10px;
    padding-bottom: 50px;
    flex-wrap:wrap;
}

.teasing-bubble {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 30px rgba(230, 194, 253, 0.3));
}

#teasing-bubbles a {
    margin-left: 15px;
}

/* Section Billeterie */

#billeterie {
    display: flex;
    justify-content: center;
    text-align: center;
    background: url(new_images/black-bg-30-percents.png), #9580D2;
    background-size: 40%;
}

#billeterie > div {
    width:100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #9580D2 23.14%, #9580D2 71.98%, rgba(255, 255, 255, 0) 100%);
}

#billeterie h1 {
    font-weight: 700;
    font-size: 39.06px;
    line-height: 46px;
    margin:0;
    margin-top: 40px;
}

#billeterie h2 {
    font-weight: 300;
    font-size: 39.06px;
    line-height: 46px;
    margin:0;
}

#billeterie a {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Section Programme */

#programme {
    background-color: #C79DE3;
    padding-bottom: 50px;
}

#programme-wrapper {
    width: 88%;
    margin: auto;
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}

.programme-column {
    text-align: center;
}

/* For rounded pill look */
.programme-content {
    background-color: #1D1240;
    border-radius: 100vh;
    padding: 20px;
    padding-top: 40px;
}

/* .programme-rounded-top {
    background-color: #1D1240;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 100% 100% 0 0;
} */

#programme h2 {
    font-weight: 700;
    font-size: 39.06px;
    line-height: 46px;
    color: #1D1240;
}

#programme h3 {
    font-weight: 600;
    font-size: 20px;
}

.programme-bubble {
    width: 190px;
    height: 190px;
    border-radius: 100%;
    object-fit: cover;
}

/* Section Informations */

#informations {
    background: linear-gradient(to right,#1D1240,#2D1E5A);
    padding-bottom: 150px;
}

#informations h1 {
    font-size: 39.06px;
    font-weight: bold;
    margin: 0;
}

#informations h2 {
    font-size: 39.06px;
    font-weight: 300;
    margin: 0;
}

#hosting-and-location {
    width: 80%;
    margin: auto;
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;
    padding-bottom: 50px;
    align-items: end;
}

/** Section Location **/

#location {
    text-align: right;
}

#map-wrapper {
    text-align: center;
}

#map-bubble {
    margin-left: 30%;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    object-fit: cover;
}

/** Section Roundtables **/

#roundtables {
    width: 75%;
    margin: auto;
    border-radius: 100%;
    text-align: center;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-image: url("new_images/tables\ rondes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.roundtables-bubble {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    object-fit: cover;
    margin:20px
}

#roundtables-contact-button {
    width: 8rem;
}

#roundtables-twitch-button {
    width: 13rem;
}

#prev-edition-roundtables {
    width: 60%;
    margin: auto;
    padding-top: 5rem;
}

#roundtables h1 {
    padding-top: 3rem;
}

#roundtables a {
    margin: 0.5rem;
}

/** Section Performances **/

#performances {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

#performances-wrapper {
    display: grid;
    grid-template-columns: 6fr 3fr;
    column-gap: 20px;
    padding-top: 10px;
    align-items: center;
}

#performances-details {
    text-align: center;
}

.performances-bubble {
    width: 22%;
    min-width: 170px;
    margin: 1%;
    aspect-ratio: 1 / 1;
    border-radius: 40px;
    object-fit: cover;
}

#performances-illustration img {
    width: 100%;
    max-height: 450px;
    border-radius: 40px;
    object-fit: cover;
}

/** Section Partners **/

#partners {
    text-align: center;
    background-color: #E2E2EA;
}

#partners-titles {
    background: linear-gradient(to right,#1D1240,#2D1E5A);
}

#partners-arrow {
    width: 100%;
    height: 75px;
    clip-path: polygon(50% 100%,100% 0,0 0);
    background: linear-gradient(to right,#1D1240,#2D1E5A);
    margin-top: -1px; /* Little hack to avoid white line rendering on Chrome for some screen sizes. */
}

#partners-body {
    padding-top: 50px;
}

#partners-boxes {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

.partners-box {
    border-radius: 40px;
}

.partners-box-logos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#associations {
    background-color: #F9F9FD;
}

#professionnels {
    background-color: #201F23;
}

#partners h1 {
    font-size: 39.06px;
    font-weight: bold;
    margin: 0;
}

#partners h2 {
    font-size: 39.06px;
    font-weight: 300;
    margin: 0;
}

#partners-boxes h1 {
    font-size: 39.06px;
    font-weight: 600;
    background-color: #1D1240;
    padding: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#nous-soutenir {
    padding-top: 50px;
}

#nous-soutenir h1 {
    color: #1D1240;
    font-size: 39.06px;
    font-weight: bold;
}

#nous-soutenir h2 {
    color: #1D1240;
    font-size: 39.06px;
    font-weight: 300;
}

#nous-soutenir a {
    margin: 20px 5px;
    width: 15rem;
}

#logo-sos-homophobie {
    width:204px;
    height: 88px;
}

#logo-game-only {
    width:166px;
    height:72.4px;
}

#logo-afrogameuses {
    height:99px;
}

#logo-exit {
    width: 74px;
    height: 74px;
}

#logo-aides {
    width: 141px;
    height: 48px;
}

#logo-spi-69-gaules {
    width: 75px;
    height: 84px;
}

#logo-bandoriginale-lyonnaise {
    width: 110px;
    height: 110px;
}

#logo-representrans {
    width: 110px;
    height: 110px;
    object-fit: scale-down;
}

#logo-le-refuge {
    width: 110px;
    height: 110px;
}

#logo-ubisoft-white {
    width: 173px;
    height: 97px;
    object-fit: scale-down;
}

#logo-arkane-white {
    width: 187px;
    height: 141px;
    object-fit: scale-down;
}

#logo-cisco-white {
    width: 154px;
    height: 96px;
    object-fit: scale-down;
}

#rainbow-warriors {
    width: 75%;
    max-height: 191px;
    object-fit: cover;
    object-position: top;
    border-radius: 45px;
    margin: 50px; 
}

/* MEDIA QUERIES */

@media (max-width: 1250px) {
    #programme-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) and (max-width: 1250px) {
    #programme-wrapper {
        width: 70%;
    }
}

@media (max-width: 600px) {
    #programme-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1000px) {
    #roundtables {
        background-image: none;
    }

    #performances-wrapper {
        grid-template-columns: 1fr;
    }

    #performances-illustration {
        display: none;
    }

    #hosting-and-location {
        grid-template-columns: repeat(1, 1fr);
    }

    #partners-boxes {
        grid-template-columns: repeat(1, 1fr);
    }
}