/* Fonts */

@font-face {
    font-family: "Righteous";
    src: url("fonts/righteous.ttf");
  }
  
@font-face {
    font-family: "Work Sans";
    src: url("fonts/work_sans.ttf");
}

/* Colors */
@property --ng-dark-purple {
    syntax: '<color>';
    initial-value: #1D1240;
    inherits: false;
}

@property --ng-purple {
    syntax: '<color>';
    initial-value: #2D1E5A;
    inherits: false;
}

@property --ng-white {
    syntax: '<color>';
    initial-value: #E2E2EA;
    inherits: false;
}

@property --ng-pink {
    syntax: '<color>';
    initial-value: #E5569C;
    inherits: false;
}

/* Page */

body {
    font-family: "Work Sans";
    color: #E2E2EA;
    background: linear-gradient(to right, #1D1240, #2D1E5A);
}

main {
    padding-top: 50px;
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration-color: transparent;
    transition: text-decoration 300ms ease;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #E2E2EA;
}

b,strong{
    font-weight:bold
}

p {
    font-weight: 300;
}

/* Common elements */

@property --myColor1 {
    syntax: '<color>';
    initial-value: #1D1240;
    inherits: false;
}
  
@property --myColor2 {
    syntax: '<color>';
    initial-value: #3B1E97;
    inherits: false;
}

@property --myPercentage1 {
    syntax: '<percentage>';
    initial-value: 7.43%;
    inherits: false;
}
  
@property --myPercentage2 {
    syntax: '<percentage>';
    initial-value: 91.93%;
    inherits: false;
}

.primary-button {
    margin: 10px;
    padding: 16px 32px;

    --myColor1: #1D1240;
    --myColor2: #3B1E97;
    --myPercentage1: 7.43%;
    --myPercentage2: 91.93%;

    background: linear-gradient(97.71deg, var(--myColor1) var(--myPercentage1), var(--myColor2) var(--myPercentage2));

    box-shadow: 0px 0px 30px rgba(57, 29, 141, 0.3);
    border-radius: 90px;

    font-weight: 700;

    display: inline-block;

    transition: --myColor1 400ms ease, --myColor2 400ms ease, -myPercentage1 400ms ease, -myPercentage2 400ms ease;
}

.primary-button:hover, .primary-button:active {
    --myColor1: #1D1240;
    --myColor2: #492C9F;
    --myPercentage1: 0.38%;
    --myPercentage2: 33.71%;
    text-decoration: none;
}

/* Simpler secondary button without gradient */
.secondary-button-without-gradient {
    padding: 13px 29px;
    filter: drop-shadow(0px 0px 30px rgba(250, 130, 189, 0.3));
    border-radius: 90px;
    font-weight: 700;
    color: #E5569C;
    border: 3px solid #E5569C;
}

/* Rounded button with transparent background : https://stackoverflow.com/a/51496341 */
/* --b : border width, --r : the radius */
.secondary-button {
    margin: 10px;
    --b:3px;
    --r:90px;
  
    color:#E5569C;
    padding: calc(var(--b) + 13px) calc(var(--b) + 29px);
    display: inline-block;
    position:relative;
    z-index:0;
    filter: drop-shadow(0px 0px 30px rgba(58, 30, 148, 0.3));
    font-weight: 700;

    transition: color 400ms ease;
}

.secondary-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: var(--b);
    border-radius: var(--r);
    background: var(--c,linear-gradient(to right, #E6569C, #FA82BD)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
            mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.secondary-button:hover {
    background: linear-gradient(to right, #E6569C, #FA82BD);
    border-radius: 90px;
    text-decoration: none;
    color: #1D1240;
}

.alt-secondary-button {
    color:#1D1240;
}

.alt-secondary-button:before {
    background: var(--c,linear-gradient(to right, #1D1240, #3C1E97)); 
}

.alt-secondary-button:hover {
    background: linear-gradient(to right, #1D1240, #3C1E97);
    border-radius: 90px;
    text-decoration: none;
    color: #E2E2EA;}

.primary-button img, .secondary-button img {
    height:22px;
    vertical-align: middle;
    /* margin-left: 0.5em; */
}

.accroche-semi-bold-20 {
    font-weight: 600;
    font-size: 20px;
}

.bigger-p {
    font-size: 20px; 
}

/* Header */

/** Header nav **/

#logo-cote-ng {
    width: 149px;
}

/* Mobile overlay */

#main-nav-burger {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
    margin: 20px;
    border-radius: 100%;
}

#square-logo {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 20px;
    border-radius: 100px;
}

#main-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

#main-nav-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#main-nav-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #e2e2ea;
    display: block;
    transition: 0.3s;
}

#main-nav-content a:hover, #main-nav-content a:focus {
    text-decoration: underline;
}

#main-nav-close-btn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.grow-width {
    width: 100%!important;
}

/* For big landscape tablets, and hi-res laptops and desktops */
@media (min-width:961px)  {
    #main-nav {
        /* Reset relevant mobile properties */
        width: 909px;
        height: 68px;
        position: fixed;
        transition: none;

        display: flex;
        justify-content: center;
        margin: auto;
        left: 0;
        right: 0;
        top: 20px;

        border-radius: 90px;
        background: linear-gradient(#E2E2EA, #E2E2EA) padding-box,
                    linear-gradient(
                        to right,
                        #FF93D1,
                        #FF9966 11.4583%, 
                        #FCC191 23.515%, 
                        #FBE266 33.5615%, 
                        #FBFF9D 42.7248%, 
                        #8EFE90 53.4336%, 
                        #A8FD81 64.1425%, 
                        #59FEB8 73.1954%, 
                        #66FFFD 83.0211%, 
                        #8D98FE 91.9636%, 
                        #D095FE 100%) border-box;
        border: 5px solid transparent;
        
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
        z-index: 100;
    }

    #main-nav-content {
        /* Reset relevant properties */
        position: static;
        margin-top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    #main-nav-content a
    {        
        /* Reset relevant properties */
        padding: 0;

        color: rgb(32, 31, 35);
        display: block;
        font-size: 20px;
        line-height: 27px;
    }

    #main-nav-content a:hover {
        /* Reset relevant properties */
        color: rgb(32, 31, 35);

        text-decoration: underline;
        text-decoration-color: rgb(32, 31, 35);
    }

    #main-nav-content a:has(#logo-cote-ng) {
        line-height: 0px;
    }

    #header-gf-link {
        text-decoration: underline;
        text-decoration-color: rgb(32, 31, 35);
    }

    #main-nav-close-btn {
        display: none;
    }

    #main-nav-burger {
        display: none;
    }

    #logo-cote-ng {
        width: 149px;
        content:url("new_images/logos/next_gaymer/logo-cote-ng.png");
    }
}

/* Footer */

footer {
    width: 95%;
    margin: auto;
    background-color: #201F23;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer-ng-logo {
    height:104px;
}

.copyright {
    font-size: 10px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
}

.credits {
    font-family: "Vremena Grotesk";
    font-size: 8px;
    color: #76767C;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    width: 90%;
    margin: auto;
}

.credits a {
    color: #E2E2EA;
    text-decoration: underline;
}

footer nav {
    width: 80%;
    margin: auto;
    text-align: center;
}

@media (min-width:961px)  {
    footer nav {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }
}

#footer-links div {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer-gf-link {
    text-decoration: underline;
}

.network-image {
    width: 32px;
    margin: 5px;
}

footer img, header img {
    transition: 400ms ease;
    filter: drop-shadow(0px 0px 5px rgba(230, 194, 253, 0.3));
}

footer img:hover, footer img:active, header img:hover, header img:active {
    filter: drop-shadow(0px 0px 10px rgba(230, 194, 253, 0.7));
}